p {
    color: rgb(214, 12, 12);
}
h1 {color: blue;}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #87afd3;
  }
  body {
    width: 750px;
    margin: 0 auto;
    background-color: #827f96;
    padding: 0 20px 20px 20px;
    border: 10px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  